<app-header></app-header>

<p-panel header="Informações do Pluri" styleClass="pluri-info-panel">
    <div class="pluri-info-container">
        <div class="pluri-details">
            <p><strong>Nome do Pluri:</strong> {{ pluri.nome }}</p>
            <p><strong>Código:</strong> {{ pluri.codigo }}</p>
            <p><strong>Trimestre:</strong> {{ pluri.trimestre }}º Trimestre</p>
            <p><strong>Ano de Aplicação:</strong> {{ pluri.anoAplicacao }}</p>
        </div>

        <p-divider></p-divider>

        <div class="pluri-areas">
            <p class="pluri-areas-title"><strong>Áreas do Pluri:</strong></p>
            <div class="areas-grid">
                <p-card *ngFor="let area of pluriAreas" styleClass="area-card">
                    <div class="area-header">
                        <h3>{{ area.nomeArea }}</h3>
                    </div>
                    <div class="area-details">
                        <p><strong>Questões Necessárias:</strong> {{ area.quantidadeQuestoes }}</p>
                        <p><strong>Questões Recebidas:</strong> {{ area.quantidadeQuestoesRecebidas }}</p>
                        <p><strong>Questões Pedidas:</strong> {{ area.quantidadeQuestoesPedidas }}</p>
                    </div>
                    <div class="professores-list">
                        <p *ngIf="area.questoesAEnviar && area.questoesAEnviar.length" class="professores-title">
                            Professores Solicitados:
                        </p>
                        <ul>
                            <li *ngFor="let questaoAEnviar of area.questoesAEnviar">
                              <span class="professor-info">{{ questaoAEnviar.usuarioNome }} - {{ questaoAEnviar.quantidadeNecessaria }} questões</span>
                              <p-button label="Visualizar questões enviadas" (onClick)="visualizarQuestoesEnviadas(questaoAEnviar.idQuestoesAEnviar)" class="btn-ver-questoes" size="small"></p-button>
                              <button
                                class="custom-danger-button"
                                (click)="deleteQuestoesAEnviar(questaoAEnviar.idQuestoesAEnviar)"
                              >Deletar</button>
                            </li>
                        </ul>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</p-panel>

<form [formGroup]="indicacaoDocentesForm">
    <p-fieldset legend="Indicação de Docente(s)">
        <p-dropdown
            formControlName="idPluriArea"
            [options]="pluriAreas"
            optionLabel="nomeArea"
            placeholder="Selecione a área"
            [filter]="true"
            filterBy="nome"
            filterPlaceholder="Nenhum resultado encontrado!"
            [disabled]="!pluri"
            [tooltip]="'Selecione a área que pretende indicar o docente para o Pluri ' + (pluri ? pluri.nome : '')"
            tooltipPosition="top"
            (onChange)="onAreaSelect($event)"
        ></p-dropdown>
        <p-dropdown
            formControlName="selectedTeacher"
            [options]="teachers"
            optionLabel="nome"
            placeholder="Selecione o docente"
            [filter]="true"
            filterBy="nome"
            filterPlaceholder="Nenhum docente encontrado!"
            [disabled]="!pluri"
            [tooltip]="'Selecione o docente que deseja solicitar questões para o Pluri ' + (pluri ? pluri.nome : '')"
            tooltipPosition="top"
            (onChange)="onTeacherSelect($event)"
        ></p-dropdown>
        <div id="professor-questions-container">
            <div *ngFor="let pair of teacherQuestionPairs; let i = index">
                <p>{{ pair.teacher.nome }}: </p>
                <p-inputNumber [(ngModel)]="pair.amount" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                <p-button label="Indicar" (click)="saveAmount(pair.teacher.id, pair.amount)" size="small"></p-button>
            </div>
        </div>
    </p-fieldset>
</form>

<p-dialog header="Escolha a ação" [(visible)]="mostrarDialog" [modal]="true" [closable]="false" [resizable]="false">
    <div class="lista-questoes-wrapper">
        <div class="lista-questoes ui-g" *ngFor="let questao of questoesEnviadas.questoesEnviadas">
            <div class="box-questoes" [ngClass]="{'approved': questao.aprovada, 'not-approved': !questao.aprovada}">
                <p>Titulo: {{ questao.titulo }}</p>
                <p>Área: {{ questao.areaNome }}</p>
              <span
                [ngClass]="{'status-pendente': questao.status.label === 'PENDENTE',
              'status-aprovada': questao.status.label === 'APROVADA',
              'status-reprovada': questao.status.label === 'REPROVADA',
              'status-enviada': questao.status.label === 'ENVIADA'}"
              >Status: {{ questao.status.label }}</span>
                <div class="box-btn">
                    <p-button severity="help" size="small" (onClick)="previewQuestoesNoModelo(questao.id)">visualizar</p-button>
                    <p-button severity="danger" size="small" (onClick)="reprovarQuestao(questao.id)">reprovar</p-button>
                    <p-button *ngIf="!questao.aprovada" severity="success"  size="small" (onClick)="aprovarQuestao(questao.id)">aprovar</p-button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="questoesEnviadas?.questoesEnviadas?.length === 0" class="ui-g-12">
        <p>Nenhuma questão enviada.</p>
    </div>
    <div class="m-3 ui-g-12 dialog-footer">
      <p-button  severity="danger" size="small" (click)="fechar()" >Fechar</p-button>
    </div>
</p-dialog>
