@import "../../../../../styles/variables.scss";

.pluri-info-panel {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 20px;

    .pluri-info-container {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .pluri-details {
            margin-bottom: 5px;
            p {
                color: #495057;
                font-size: 16px;
                margin: 5px 0;
                strong {
                    color: #333;
                    font-weight: 600;
                }
            }
        }

        .pluri-areas {
            margin-top: 5px;

            .pluri-areas-title {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .areas-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Aumenta a largura mínima dos cards */
                gap: 15px;
            }

            .area-card {
                border: 1px solid #e0e0e0;
                border-radius: 8px;
                padding: 10px 15px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
                background-color: #fdfdfd;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .area-header {
                    margin-bottom: 5px;
                    h3 {
                        font-size: 18px;
                        color: #6a1b9a;
                        margin: 0;
                    }
                }

                .area-details {
                    margin-bottom: 10px;
                    p {
                        font-size: 14px;
                        color: #616161;
                        margin: 3px 0;
                        strong {
                            color: #333;
                        }
                    }
                }

                .professores-list {
                    margin-top: auto; /* Empurra a lista de professores para a parte inferior */
                    
                    .professores-title {
                        margin-bottom: 5px;
                        font-size: 14px;
                        color: #333;
                        font-weight: 500;
                    }

                    ul {
                        padding-left: 15px;
                        list-style-type: disc;
                        li {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;

                            .professor-info {
                                font-size: 15px;
                                color: #424242;
                                margin-bottom: 5px;
                            }

                            .btn-ver-questoes {
                                align-self: start;
                                font-size: 13px;
                                padding: 2px 6px;
                                margin-top: 5px; /* Leve afastamento acima da borda inferior */

                            }
                        }
                    }
                }
            }
        }
    }
}

#professor-questions-container {
    div {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 8px; /* Adiciona espaçamento entre o input e o botão */
    }
}