<app-header></app-header>

<div class="container-pluri" *ngIf="pluri">
    <h2>Informações Pluri</h2>
    <div class="box-pluri">
        <p>Nome: {{ pluri.nome }}</p>
        <p>Código: {{ pluri.codigo }}</p>
        <p>Trimestre: {{ pluri.trimestre }}</p>
        <p>Ano de Aplicação: {{ pluri.anoAplicacao }}</p>
    </div>
</div>
<p-divider />
<div class="container">
    <p-fieldset legend="Informações das Áreas do Pluri">
        <div class=" box">
            <div class="splitter-panel" *ngFor="let item of pluriAreas">
                <p-panel header="Área: {{ item.nomeArea }}">
                    <p>Nome: {{ item.nomeArea }}</p>
                    <p>Quantidade de Questões: {{ item.quantidadeQuestoes }}</p>
                    <p>Quantidade de Questões Recebidas: {{ item.quantidadeQuestoesRecebidas }}</p>
                    <p>Quantidade de Questões Pedidas: {{ item.quantidadeQuestoesPedidas }}</p>
                    <p [ngClass]="{'green': item.completa, 'red': !item.completa }">
                        Pluri Area Completa: {{ item.completa ? 'Sim' : 'Não' }}
                    </p>
                </p-panel>
            </div>
        </div>    
        <br>
    </p-fieldset>
    <br>
    <p-divider />
    <p-fieldset class="container-questaoAEnviar" legend="Informações Questões a Enviar">
        <div  *ngFor="let item of pluriAreas">
            <h3>{{item.nomeArea}}</h3>
                <div class="box-questaiAEnviar" *ngFor="let questaoAEnviar of item.questoesAEnviar">
                    <p>Nome: {{ questaoAEnviar.nomeArea }}</p>
                    <p>Quantidade de Questões: {{ questaoAEnviar.quantidadeNecessaria }}</p>
                    <p>Quantidade de Questões Recebidas: {{ questaoAEnviar.quantidadeEnviada }}</p>
                    <p>Professor: {{ questaoAEnviar.usuarioNome }}</p>
                    <p-button label="Ver Enviadas" (onClick)="visualizarQuestoesEnviadas(questaoAEnviar.idQuestoesAEnviar)"/>
                </div>
            
        </div>
    </p-fieldset>    
    
</div>    
<form [formGroup]="indicacaoDocentesForm">
    <p-fieldset legend="Indicação de Docente(s)">
        <p-dropdown
            formControlName="idPluriArea"
            [options]="pluriAreas"
            optionLabel="nomeArea"
            placeholder="Selecione a área"
            [filter]="true"
            filterBy="nome"
            filterPlaceholder="Nenhum resultado encontrado!"
            [disabled]="!pluri"
            [tooltip]="'Selecione a área que pretende indicar o docente para o Pluri ' + (pluri ? pluri.nome : '')"
            tooltipPosition="top"
            (onChange)="onAreaSelect($event)"
        ></p-dropdown>
        <p-dropdown 
            formControlName="selectedTeacher"
            [options]="teachers"
            optionLabel="nome"
            placeholder="Selecione o docente"
            [filter]="true"
            filterBy="nome"
            filterPlaceholder="Nenhum docente encontrado!"
            [disabled]="!pluri"
            [tooltip]="'Selecione o docente que deseja solicitar questões para o Pluri ' + (pluri ? pluri.nome : '')"
            tooltipPosition="top"
            (onChange)="onTeacherSelect($event)"
        ></p-dropdown>
        <div id="professor-questions-container">
            <div *ngFor="let pair of teacherQuestionPairs; let i = index">
                <p>{{ pair.teacher.nome }}: </p>
                <p-inputNumber [(ngModel)]="pair.amount" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                <p-button pButton label="Indicar" (click)="saveAmount(pair.teacher.id, pair.amount)" size="small"></p-button>
            </div>
        </div>
    </p-fieldset>
</form>
<p-dialog header="Escolha a ação" [(visible)]="mostrarDialog" [modal]="true" [closable]="false" [resizable]="false">
    <div class="lista-questoes-wrapper">
        <div class="lista-questoes ui-g" *ngFor="let questao of questoesEnviadas.questoesEnviadas">
            <div class="box-questoes" [ngClass]="{'approved': questao.aprovada, 'not-approved': !questao.aprovada}">
                <p>Titulo: {{ questao.titulo }}</p>
                <p>Área: {{ questao.areaNome }}</p>
                <p>
                    Aprovada: {{ questao.aprovada ? 'Sim' : 'Não'}}
                </p>
                <div class="box-btn">
                    <p-button severity="help" size="small" (onClick)="previewQuestoesNoModelo(questao.id)">visualizar</p-button>                        
                    <p-button *ngIf="questao.aprovada" severity="danger" size="small" (onClick)="reprovarQuestao(questao.id)">reprovar</p-button>
                    <p-button *ngIf="!questao.aprovada" severity="success" size="small" (onClick)="aprovarQuestao(questao.id)">aprovar</p-button>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="questoesEnviadas?.questoesEnviadas?.length === 0" class="ui-g-12">
        <p>Nenhuma questão enviada.</p>
    </div>
    <div class="ui-g-12 dialog-footer">
        <p-button pButton class="btn-fechar" severity="danger" type="button" label="Fechar" (click)="fechar()"></p-button>
    </div>
</p-dialog>