<app-header></app-header>

<form [formGroup]="criarQuestaoForm" class="create-question-form">
  <div class="box-questoes-sup">
    <p class="titulo">Criar Questão</p>
    <div class="box-inputs">
      <div class="input-container">
        <p-floatLabel>
          <input type="text" pInputText formControlName="titulo" id="titulo" />
          <label for="titulo">Titulo</label>
        </p-floatLabel>
      </div>
      <div class="input-container">
        <p-floatLabel>
          <p-dropdown
              [options]="dificuldades"
              formControlName="dificuldade"
              inputId="dificuldade" />
          <label class="label-dificuldade" for="dificuldade">Dificuldade</label>
      </p-floatLabel>
      </div>
      <div class="input-container">
          <p-multiSelect [options]="assuntos" formControlName="codigo_assuntos" optionLabel="codigo" placeholder="Selecione os assuntos"></p-multiSelect>
      </div>
    </div>
  </div>

  <div class="box-questoes">
    <button pButton type="button" class="corpo-button" (click)="openDialog('corpo')" label="Editar Corpo"></button>
    <input type="hidden" name="corpo" value="corpo" formControlName="corpo">

    <div class="alternativas-buttons">
      <button pButton type="button" (click)="openDialog('alternativa1')" label="Editar Alternativa 1"></button>
      <button pButton type="button" (click)="openDialog('alternativa2')" label="Editar Alternativa 2"></button>
      <button pButton type="button" (click)="openDialog('alternativa3')" label="Editar Alternativa 3"></button>
      <button pButton type="button" (click)="openDialog('alternativa4')" label="Editar Alternativa 4"></button>
    </div>
  </div>

  <div class="action-buttons">
    <button pButton type="button" class="btn-enviar" (click)="submitCriarQuestao()" label="Enviar"></button>
    <button pButton type="button" [disabled]="carregamento" (click)="previewQuestaoNoModelo()" label="Preview Questão"></button>
  </div>
</form>

<div class="box-meio" *ngIf="showPreview">
  <div *ngIf="carregamento" class="custom-spinner-container">
    <p-progressSpinner ariaLabel="carregamento" *ngIf="carregamento" styleClass="custom-spinner"></p-progressSpinner>
  </div>
  <div *ngIf="pdfUrl" class="box-preview">
    <iframe [src]="pdfUrl"></iframe>
  </div>
  <div class="preview-container">
    <div class="preview-content" [innerHTML]="previewContent"></div>
  </div>
  <!--
  <div class="summernote-preview" (mouseover)="mouseEntrou()" (mouseout)="mouseSaiu()">
    <div [class.red-border]="passou" [ngxSummernoteDisabled]="desabilitado" [ngxSummernote]="configPre" [ngxSummernoteView]="previewContent" [summernoteModel]="previewContent" (summernoteModelChange)="updatePreview()">
    </div>
  </div> -->
</div>

<!--<label *ngIf="passou" class="message-label">O editor está desativado</label>-->