.box-inputs {
    display: flex;
    margin: 3em;
        p-floatLabel { 
            margin-right: 2em;
        }       
}

.box-questoes{
    display: flex;
    margin: 3em;
    button {
        margin-right: 1em;
    }
}
.btn-enviar {
    margin-left: 3em;
}
.custom-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.custom-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background: rgba(255, 255, 255, 0.7); 
  }
  
  
@media (max-width: 650px) {
    .box-inputs{
        align-items: start;
        flex-direction: column;
        
        p-floatLabel {
            margin: 1em;
        }
        p-multiSelect {
            margin: 1em;
        }
    }
    .box-questoes{
        align-items: center;
        flex-direction: column;
        button{
            text-align: center;
            margin-bottom: 1em;
            width: 45%;
        }
        
    }
}