<p-table
  [value]="listAssuntos"
  styleClass="p-datatable-striped"
  [paginator]="true"
  [rows]="10"
  [totalRecords]="totalRecords"
  [lazy]="true"
  (onLazyLoad)="loadAssuntos(($event.first ?? 0) / ($event.rows ?? 10), $event.rows ?? 10)"
  [rowsPerPageOptions]="[5,10, 20]"
  [tableStyle]="{'min-width': '50rem'}"
  sortField="data_inicio_pluri"
  [sortOrder]="1">
  <ng-template pTemplate="caption">
    <div>
      Assuntos
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">{{ 'label_table_id' | translate }}<p-sortIcon field="id"/></th>
      <th pSortableColumn="nome">{{ 'label_table_name' | translate }}<p-sortIcon field="nome"/></th>
      <th pSortableColumn="codigo">{{ 'label_table_code' | translate }}<p-sortIcon field="codigo"/></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-assunto>
    <tr>
      <td>{{ assunto.id }}</td>
      <td>{{ assunto.nome}}</td>
      <td>{{ assunto.codigo }}</td>
      <td class="box-btns">
        <button pButton type="button" label="Editar" routerLink="/editar-assunto/{{assunto.id}}"></button>
        <button [style]="'background: red;'" pButton type="button" label="Deletar" (click)="deletarAssunto(assunto.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
