<app-header></app-header>
<div class="container">
    <ng-container *ngIf="questaoAEnviar">
        <p-fieldset legend="Informações do Pluri">
            <p>Nome do Pluri: {{ questaoAEnviar.nomePluri }}</p>
            <p class="red">Quantidade Necessaria: {{ questaoAEnviar.quantidadeNecessaria }}</p>
            <p class="blue">Quantidade enviadas: {{questaoAEnviar.quantidadeEnviada}}</p>
            <div class="d-flex">
                <p class="green">Questoes aprovadas: {{questaoAEnviar.quantidadeAprovada}}</p>
                <p-button label="Visualizar questões" severity="help" icon="pi pi-check" size="small" (click)="visualizarQuestoesEnviadas()"/>
            </div>
            <p>Completa: {{questaoAEnviar.completa}}</p>
            <p>Area: {{questaoAEnviar.nomeArea}}</p>
        </p-fieldset>
    </ng-container>


    <p-dialog header="Escolha a ação" [(visible)]="mostrarDialog" [modal]="true" [closable]="false" [resizable]="false">
        <div class="lista-questoes-wrapper">
            <div class="lista-questoes ui-g" *ngFor="let questao of questoesEnviadas.questoesEnviadas">

                <div class="box-questoes" >
                    <p>Titulo: {{questao.titulo}}</p>
                    <p>Aprovada: {{questao.aprovada}}</p>
                    <p>Area: {{questao.areaNome}}</p>
                </div>
            </div>
        </div>
        <div class="ui-g-12 dialog-footer">
            <p-button pButton severity="danger" type="button" label="Fechar" (click)="fechar()"></p-button>
        </div>
    </p-dialog>


    <!--<p-fieldset legend="Informações das Áreas do Pluri">
        <p-splitter [style]="{ height: '300px' }" styleClass="mb-5">
            <ng-template pTemplate>
                <div class="splitter-container">
                    <div class="splitter-panel" *ngFor="let item of pluriAreas">
                        <p-panel header="Área: {{ item.nomeArea }}">
                            <p>Id Pluri Area: {{ item.idPluriArea }}</p>
                            <p>Id Area: {{ item.idArea }}</p>
                            <p>Nome: {{ item.nomeArea }}</p>
                            <p>Quantidade de Questões: {{ item.quantidadeQuestoes }}</p>
                            <p>Quantidade de Questões Recebidas: {{ item.quantidadeQuestoesRecebidas }}</p>
                        </p-panel>
                    </div>
                </div>
            </ng-template>
        </p-splitter>
    </p-fieldset>-->
</div>


<div class="box">
    <p-pickList
    [source]="questoesIneditas"
    [target]="questoesSelecionadas"
    sourceHeader="Disponíveis"
    targetHeader="Selecionados"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '300px', overflow: 'auto' }"
    [targetStyle]="{ height: '300px', overflow: 'auto' }"
    filterBy="titulo"
    sourceFilterPlaceholder="Pesquisar pelo titulo"
    targetFilterPlaceholder="Pesquisar pelo titulo"
    keepSelection="false"
    stripedRows="true"
    breakpoint="500px">
    <ng-template pTemplate="body" let-questao>
        <p-card class="card">
            <span>Titulo: {{ questao.titulo }}</span><br>
            <span>Data Criação: {{ questao.dataCriacao }}</span>
            <p>Area: {{questao.areaNome}}</p>
            <p-button class="btn-preview" (click)="gerarPdfPreviewQuestion(questao)">Preview da questão</p-button>
        </p-card>
    </ng-template>
        <!--<ng-template let-questoesIneditas pTemplate="item">

            <span class="font-bold d-flex">
                {{ questoesIneditas.titulo }}
                {{ questoesIneditas.dataCriacao }}
            </span>
        </ng-template>-->
</p-pickList>
    <div *ngIf="carregamento" class="custom-spinner-container">
        <p-progressSpinner ariaLabel="carregamento" *ngIf="carregamento" styleClass="custom-spinner"></p-progressSpinner>
    </div>
</div>
<div class="box-button">
    <p-button severity="danger" label="Voltar" (click)="voltar()"></p-button>
    <p-button label="Preview Selecionadas" (onClick)="previewQuestoesNoModelo()"/>
    <p-button label="Enviar" (onClick)="enviarQuestoes()"/>
</div>
