<app-header></app-header>

<p-table
    [value]="dataQuestaoArea"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20]"
    [tableStyle]="{'min-width': '50rem'}"
    sortField="data_inicio_pluri"
    [sortOrder]="1"
>
    <ng-template pTemplate="caption">
        <div>Questoes</div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="pluri">Pluri<p-sortIcon field="pluri"/></th>
            <th pSortableColumn="area">Area<p-sortIcon field="area"/></th>
            <th pSortableColumn="quantidadeQuestoesNecessaria">Quantidade Necessaria<p-sortIcon field="quantidadeQuestoesNecessaria"/></th>
            <th pSortableColumn="quantidadeEnviada">Quantidade Enviada<p-sortIcon field="quantidadeEnviada"/></th>
            <th pSortableColumn="quantidadeAprovada">Quantidade Aprovada<p-sortIcon field="quantidadeAprovada"/></th>
            <th pSortableColumn="aprovada">Aprovada<p-sortIcon field="aprovada"/></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-questaoAEnviar>
        <tr>
            <td>{{ questaoAEnviar.nomePluri }}</td>
            <td>{{ questaoAEnviar.nomeArea }}</td>
            <td>{{ questaoAEnviar.quantidadeNecessaria }}</td>
            <td>{{ questaoAEnviar.quantidadeEnviada }}</td>
            <td>{{ questaoAEnviar.quantidadeAprovada }}</td>
            <td>{{ questaoAEnviar.aprovada ? 'Sim' : 'Não' }}</td>
            <td>
                <button pButton  type="button" label="Enviar" (click)="abrirDialog(questaoAEnviar.idArea, questaoAEnviar.idQuestoesAEnviar)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Escolha a ação" [(visible)]="mostrarDialog" [modal]="true" [closable]="false" [resizable]="false">
    <div class="ui-g">
        <div class="ui-g-12">
            <p>Escolha uma opção:</p>
        </div>
        <div class="ui-g-12">
            <button pButton type="button" label="Criar Nova Questão" (click)="criarNovaQuestao()"></button>
        </div>
        <div class="ui-g-12">
            <button pButton type="button" label="Enviar Questão Existente" (click)="enviarQuestaoExistente()"></button>
        </div>
    </div>
    <div class="ui-g-12 dialog-footer">
        <p-button class="btn-fechar" pButton severity="danger" type="button" label="Fechar" (click)="fechar()"></p-button>
    </div>
</p-dialog>