@import "../../../../..//styles/variables.scss";

header {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;

    p-menubar-end {
        display: flex;
        align-items: center;
        align-content: center;
    }
    
    p-menubar{
        flex: 1;
        background-color: $secondary-color;
        color: $text-color;

        img {
            margin: 10px 40px 0 10px;
        }

        a{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-color;
            text-decoration: none;
            padding: 10px 20px;

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }

        ::ng-deep .notification-wrapper {
            position: relative;
            display: inline-block;
          }
          
          ::ng-deep .notification-badge {
            position: absolute;
            top: -10px;
            right: -10px;
          }
          
          ::ng-deep .p-panel.notification-panel {
            position: fixed; /* Garante que o painel flutue sobre o conteúdo */
            top: 2rem; /* Ajuste conforme a altura do header */
            right: 1rem;
            width: 300px;
            z-index: 1000; /* Certifique-se que o painel aparece acima dos outros componentes */
            max-height: 400px;
            overflow-y: auto;
            background-color: white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
          }

        .user-profile {
            display: flex;
            align-items: center;
            padding: 20px;
            background: transparent;
            cursor: pointer;
        }
        
        .user-profile-item {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-color;
            text-decoration: none;
            padding: 10px 20px;
        }
        
        #p-menubar-end {
            display: flex;
            align-items: center;
            margin-left: auto;
        } 
    }    
    

    @media (max-width: 650px) {
        img {
            display: none;
        }
    }
}