<app-login-layout
  title="Login"
  primaryBtnText="Entrar"
  secondaryBtnText="Cadastrar"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <!-- Campo de login -->
    <app-auth-input
      formControlName="login"
      inputName="login"
      type="text"
      label="Usuário"
      placeholder="Nome de Usuário"
    >
      <img src="assets/icons/user-icon.svg" />
    </app-auth-input>

    <!-- Campo de senha com botão para alternar visibilidade -->
    <app-auth-input
      formControlName="senha"
      inputName="senha"
      [type]="showPassword ? 'text' : 'password'"
      label="Senha"
      placeholder="Senha"
    >
      <div class="input-container">
        <img src="assets/icons/password-icon.svg" />
        <fa-icon
          [icon]="showPassword ? faEye : faEyeSlash"
          class="toggle-password-icon"
          (click)="togglePasswordVisibility()"
        >
        </fa-icon>
      </div>
    </app-auth-input>

    <!-- Link para "Esqueceu a senha?" -->
    <span>Esqueceu a senha?</span>
  </form>
</app-login-layout>
