@import "../../../../styles/variables.scss";

.container {
  margin: 15px;

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .name-element label{
      display: flex;
      font-weight: bold;
    }

    .desc-element label{
      display: flex;
      font-weight: bold;
    }

    .codigo-element label{
      display: flex;
      font-weight: bold;
    }

    .submit-button{
      margin-left: auto;
    }
  }
}
