<script src="edit-assunto.component.ts"></script>
<div class="container">
  <p-fieldset legend="Criar Assunto">
    <form class="form-container" [formGroup]="updateAssuntoForm">
      <div class="name-element">
        <label for="nome">Assunto</label>
        <input style="width: 100%" id="nome" type="text" pInputText formControlName="nome"/>
      </div>

      <div class="desc-element">
        <label for="disciplina">Disciplinas</label>
        <p-dropdown
          id="disciplina"
          [options]="disciplinaList"
          optionLabel="nome"
          (onChange)="onDisicplinaChange($event)"
          formControlName="disciplina"

        >
        </p-dropdown>
      </div>
      <div class="submit-button">
        <p-button label="Salvar" (click)="submit()"/>
      </div>
    </form>
  </p-fieldset>
</div>
