<app-login-layout
    title="Cadastrar-se"
    primaryBtnText="Cadastrar"
    secondaryBtnText="Login"
    isSignup=true
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid">
    <form [formGroup]="signupForm">
        <app-auth-input
            formControlName="nome"
            inputName="nome"
            type="text"
            label="Nome"
            placeholder="Nome completo"
            [required]="true"
        >
        </app-auth-input>
        <app-auth-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="usuario@gmail.com"
            [required]="true"
        >

        </app-auth-input>
        <app-auth-input
            formControlName="login"
            inputName="login"
            type="text"
            label="Usuário"
            placeholder="Nome de Usuário"
            [required]="true"
        >
        </app-auth-input>
        <app-auth-input
            placeholder="Digite sua senha"
            formControlName="senha"
            inputName="senha"
            [type]="passwordEye1 ? 'text' : 'password'"
            label="Senha"
            [required]="true"
        >
          <div class="input-container">
            <fa-icon
              [icon]="passwordEye1 ? faEyeSlash : faEye"
              class="toggle-password-icon"
              (click)="togglePasswordVisibility(1)"
            >
            </fa-icon>
          </div>
        </app-auth-input>
      <p *ngIf="signupForm.get('senha')?.hasError('minlength')" class="erro-validacao">
        A senha deve ter no mínimo 6 caracteres.
      </p>
        <app-auth-input
            placeholder="Confirme sua senha"
            formControlName="confirmarSenha"
            inputName="confirmarSenha"
            [type]="passwordEye2 ? 'text' : 'password'"
            label="Confirme sua senha"
            [required]="true"
        >
          <div class="input-container">
            <fa-icon
              [icon]="passwordEye2  ? faEyeSlash : faEye"
              class="toggle-password-icon"
              (click)="togglePasswordVisibility(2)"
            >
            </fa-icon>
          </div>
        </app-auth-input>
      <p *ngIf="signupForm.hasError('senhasDiferentes')" class="erro-validacao">
        As senhas não coincidem.
      </p>
      <app-auth-input
            formControlName="data_nascimento"
            inputName="data_nascimento"
            type="date"
            label="Data de Nascimento"
            [required]="true"
        >
        </app-auth-input>
    </form>
</app-login-layout>
