.box-summernote{
    height: 45%;
}
.dialog-actions {
    margin: 0.5em;
}
button {
    justify-content: center;
    width: 15%;
    height: 3.5em;
    margin: 0.5em;
}
.note-dialog .modal-dialog{ z-index:999; }