<app-header></app-header>
<span>Nome: {{ pluri?.nome }}</span>
<span>Data Inicio da diagramação: {{ pluri?.dataInicioDiagramacao ? pluri?.dataInicioDiagramacao : 'Não definido' }}</span>
<span>Data Fim da diagramação: {{ pluri?.dataFimDiagramacao ? pluri?.dataInicioDiagramacao : 'Não definido' }}</span>
<!--<span>{{ pluri.quantidadeTotalDeQuestoesNoPluri }}</span>-->
<div>
<!--    <p>{{ pluriAreas[0]?.pluriNome }}</p>-->
</div>
<div *ngFor="let pluriArea of pluriAreas">
    <app-accordion-areas
      [header]="pluriArea.areaNome"
      (questaoSelecionada)="questionReceive($event)"
     (questoesSelecionadasChange)="atualizarQuestoesSelecionadas($event)"
     [pluriArea]="pluriArea"></app-accordion-areas>
</div>

<div>
    <h2>Questões Selecionadas:</h2>
    <ul>
        <li *ngFor="let questao of questoesSelecionadas">{{ questao.titulo }}</li>
    </ul>
</div>
<button pButton type="button" label="Gerar PDF" (click)="gerarPdfPreview()"></button>
