<script src="edit-area.component.ts"></script>
<div class="container">
  <p-fieldset legend="Criar Área">
     <form class="form-container" [formGroup]="updateAreaForm">
        <div class="name-element">
          <label for="nome">Nome</label>
          <input id="nome" type="text" pInputText formControlName="nome" />
        </div>

      <div class="desc-element">
        <label for="descricao">Descrição</label>
        <input id="descricao" type="text" pInputText formControlName="descricao" />
      </div>

      <div class="codigo-element">
        <label for="codigo">Código</label>
        <input id="codigo" type="text" pInputText formControlName="codigo" />
      </div>

      <div class="submit-button">
        <p-button label="Salvar" (click)="submit()" />
      </div>
    </form>
  </p-fieldset>
</div>
