<div class="container">
    <p-fieldset [legend]="isEditMode ? ('area.editTitle' | translate) : ('area.createTitle' | translate)">
        <form class="form-container" [formGroup]="areaForm">

            <p-floatLabel>
                <input id="nome" type="text" pInputText formControlName="nome" />
                <label for="nome">{{ 'area.nameLabel' | translate }}</label>
            </p-floatLabel>

            <p-floatLabel>
                <textarea id="descricao" pInputTextarea formControlName="descricao" rows="3"
                    autoResize="true"></textarea>
                <label for="descricao">{{ 'area.descriptionLabel' | translate }}</label>
            </p-floatLabel>


            <p-floatLabel>
                <input id="codigo" type="text" pInputText formControlName="codigo" />
                <label for="codigo">{{ 'area.codeLabel' | translate }}</label>
            </p-floatLabel>

            <div class="buttons">
                <p-button label="{{ 'area.cancelButton' | translate }}" icon="pi pi-times" class="p-button-secondary" (click)="cancel()" [disabled]="loading"></p-button>
                <p-button label="{{ 'area.saveButton' | translate }}" icon="pi pi-check" (click)="submit()" [disabled]="loading || areaForm.invalid"></p-button>
            </div>
        </form>
    </p-fieldset>
</div>

<div class="spinner-overlay" *ngIf="loading">
    <p-progressSpinner styleClass="custom-spinner" strokeWidth="4"></p-progressSpinner>
</div>