<p-stepper>
    <p-stepperPanel header="Informações Gerais">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="stepper-panel-content">
                <div class="form-container">
                    <form [formGroup]="informacoesGeraisForm">
                        <p-floatLabel>
                            <input type="text" pInputText formControlName="codigo" [readOnly]="true"/>
                            <label for="codigo">Código</label>
                        </p-floatLabel>
                        <p-floatLabel>
                            <input type="text" pInputText formControlName="nome"/>
                            <label for="nome">Nome</label>
                        </p-floatLabel>
                        <p-floatLabel>
                            <p-dropdown
                                formControlName="trimestre"
                                [options]="trimestreOptions"
                            />
                            <label for="trimestre">Trimestre</label>
                        </p-floatLabel>
                        <p-floatLabel>
                            <p-calendar
                                formControlName="anoAplicacao"
                                view="year"
                                dateFormat="yy"
                            />
                            <label for="anoAplicacao">Ano de Aplicação</label>
                        </p-floatLabel>
                        <p-floatLabel>
                            <p-calendar
                                formControlName="dataInicioPluri"
                                dateFormat="dd/mm/yy"
                            />
                            <label for="dataInicioPluri">Data de Início do Pluri</label>
                        </p-floatLabel>
                    </form>
                </div>
                <div class="btn-wrapper">
                    <button class="next-button" (click)="nextCallback.emit()">Avançar</button>
                    <button class="submit-button" (click)="submitInformacoesGerais()">Salvar</button>
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Definir Áreas do Pluri">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="stepper-panel-content">
                <div class="form-container">
                    <p-floatLabel>
                        <p-dropdown [options]="areasOptions" optionLabel="nome" [(ngModel)]="selectedArea"></p-dropdown>
                        <label for="area">Selecionar Área</label>
                    </p-floatLabel>
                    <button pButton type="button" label="Adicionar Área"(click)="addArea()"></button>
                </div>
                <div class="form-container" *ngIf="areas.length">
                    <p-table [value]="areas">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Área</th>
                                <th>Quantidade de Questões</th>
                                <th>Ação</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-area let-i="rowIndex">
                            <tr>
                                <td>{{area?.area?.nome}}</td>
                                <td>
                                    <p-inputNumber [(ngModel)]="area.quantidadeQuestoes" [min]="0"></p-inputNumber>
                                </td>
                                <td>
                                    <button pButton type="button" label="Salvar" (click)="saveArea(i)"></button>
                                    <button pButton type="button" label="Deletar" severity="danger" (click)="deleteArea(i)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="btn-wrapper">
                    <button class="next-button" (click)="nextCallback.emit()">Avançar</button>
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Atividades da Comissão">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="stepper-panel-content">
                <div class="form-container">
                    <p-fieldset legend="Coleta de questões" [toggleable]="true">
                        <div class="fieldset-container">
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="indDocentesRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Indicação dos Docentes</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="envQuestoesRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Envio das Questões</label>
                            </p-floatLabel>
                        </div>

                    </p-fieldset>

                    <p-fieldset legend="Criação das provas" [toggleable]="true">
                        <div class="fieldset-container">
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="diagRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Diagramação das Provas</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="revRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Revisão Gramatical</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="impRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Impressão das Provas</label>
                            </p-floatLabel>
                        </div>
                    </p-fieldset>

                    <p-fieldset legend="Aplicação da prova" [toggleable]="true">
                        <div class="fieldset-container">
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="ensalamentoRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Ensalamento</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="aplDate" dateFormat="dd/mm/yy" required></p-calendar>
                                <label>Data de Aplicação da Prova</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="lancNotasRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Lançamento das Notas</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="corRedacaoRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Correção da Redação</label>
                            </p-floatLabel>
                        </div>
                    </p-fieldset>

                    <p-fieldset legend="Reaplicação da prova" [toggleable]="true">
                        <div class="fieldset-con">
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="reaplDate" dateFormat="dd/mm/yy" required></p-calendar>
                                <label>Data de Reaplicação da Prova</label>
                            </p-floatLabel>
                        </div>
                    </p-fieldset>

                    <p-fieldset legend="Período de Recursos" [toggleable]="true">
                        <div class="fieldset-container">
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="envRecursoRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Envio de Recursos</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="analRecursoRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Análise dos Recursos</label>
                            </p-floatLabel>
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="attNotasRange" dateFormat="dd/mm/yy" required selectionMode="range"></p-calendar>
                                <label>Período de Atualização das Notas</label>
                            </p-floatLabel>
                        </div>
                    </p-fieldset>

                    <p-fieldset legend="Divulgação" [toggleable]="true">
                        <div class="fieldset-container">
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="divulgNotasDate" dateFormat="dd/mm/yy" required></p-calendar>
                                <label>Data de Divulgação das Notas</label>
                            </p-floatLabel>
                        </div>
                    </p-fieldset>
                </div>
                <div class="btn-wrapper">
                    <button class="back-button" (click)="prevCallback.emit()">Voltar</button>
                    <button class="next-button" (click)="nextCallback.emit()">Avançar</button>
                    <button class="submit-button" (click)="submitAtividadesComissao()">Salvar</button>
                </div>
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>
