<app-header></app-header>
<form [formGroup]="atualizarQuestaoForm" >
<div class="box-questoes-sup">

  
  <p-multiSelect 
      [options]="assuntos" 
      formControlName="codigo_assuntos"
      optionLabel="codigo" 
      placeholder="Selecione os assuntos"
      />

    <div class="alt">
      <h1>Corpo</h1>
      <button (click)="openDialog('corpo')">Editar Corpo</button>
      <div [innerHTML]="atualizarQuestaoForm.get('corpo')?.value"></div>
      <p-floatLabel>
        <input type="hidden" name="corpo" value="corpo" formControlName="corpo">
      </p-floatLabel>
    </div>
    <div class="alt">
      <h3>Pré-visualização do PDF</h3>
      <div class="summernote-alternativa" [ngxSummernote]="configPre" [ngxSummernoteView]="previewContent" [summernoteModel]="previewContent" (summernoteModelChange)="updatePreview" ></div>
      <button (click)="saveContent()">Salvar em PDF</button>
    </div>
  </div>
  
  <div class="box-questoes">
    <div class="box-questoes-sup">
      <div class="alt">
        <h2>Alternativa 1</h2>
        <button  (click)="openDialog('alternativa1')">Editar Alternativa 1</button>
        <div [innerHTML]="atualizarQuestaoForm.get('alternativa1')?.value"></div>
      </div>
      <div class="alt">
        <h2>Alternativa 2</h2>
        <button  (click)="openDialog('alternativa2')">Editar Alternativa 2</button>
        <div [innerHTML]="atualizarQuestaoForm.get('alternativa2')?.value"></div>
      </div>
    </div>
  
    <div class="box-questoes-sup">
      <div class="alt">
        <h2>Alternativa 3</h2>
        <button  (click)="openDialog('alternativa3')">Editar Alternativa 3</button>
        <div [innerHTML]="atualizarQuestaoForm.get('alternativa3')?.value"></div>
      </div>
      <div class="alt">
        <h2>Alternativa 4</h2>
        <button  (click)="openDialog('alternativa4')">Editar Alternativa 4</button>
        <div [innerHTML]="atualizarQuestaoForm.get('alternativa4')?.value"></div>
      </div>
    </div>
  </div>
<button (click)="submitAtualizarQuestao()">enviar</button>
</form>