<div class="input-wrapper">
    <label [for]="inputName">{{ label }}</label>
    <div class="input-content">
        <input
          class="ng-invalid ng-dirty"
          [type]="type"
          [placeholder]="placeholder"
          [value]="value"
          (input)="onInput($event)"
          [required]="required"
          (blur)="onTouched()"
          [class.ng-invalid]="required"
          [class.ng-touched]="true"
        />
        <div class="icon">
            <ng-content></ng-content>
        </div>
    </div>
</div>
