
$columns: 4; 
$gap: 16px;
$items-per-column: 1;


.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
    div{
        p-card{
            margin: 10px;
            display: flex;
            padding: 5px;
        }
    }   
}



.container {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
  }
  
  .input-item {
    margin-bottom: $gap;
  }
  
  // Estilo para cada coluna
  @for $i from 1 through $columns {
    .column-#{$i} {
      @for $j from 0 through ($items-per-column - 1) {
        &:nth-child(#{$columns * $j + $i}) {
          grid-column: $i;
        }
      }
    }
  }
  
  @mixin respond-to($media) {
    @if $media == 'tablet' {
      @media (max-width: 768px) {
        .container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    } @else if $media == 'mobile' {
      @media (max-width: 480px) {
        .container {
          grid-template-columns: 1fr;
        }
      }
    }
  }
  
  @include respond-to('tablet');
  @include respond-to('mobile');
  
  mat-calendar {
    width: 300px;
  }
  
  
