    <div *ngFor="let pluri of dados">
        <p-card>
            <p>Codigo: {{pluri.codigo}}</p>
            <p>Data inicio: {{pluri.data_inicio_pluri}}</p>
            <p>Trimestre: {{pluri.trimestre}}</p>
            <p>Ano: {{pluri.ano_aplicacao}}</p>
            <div class="div-btn">
                <a routerLink="/pluri/update/{{ pluri.id }}"  >
                    <button  mat-raised-button color="primary" (click)="finalizar()">Finalizar</button>
                </a>            
            </div>
        </p-card>
    </div>

