<div class="content">

  <h1>TUTORIAIS DO PLURI</h1>
  <p-accordion>
    <p-accordionTab header="Tutoriais">
      <p-tabView>
        <p-tabPanel header="Alunos">
          <p>LINKS</p>
        </p-tabPanel>
        <p-tabPanel header="Professores">
          <p>LINKS</p>
        </p-tabPanel>
        <p-tabPanel header="Comissão">
          <p>LINKS</p>
        </p-tabPanel>
      </p-tabView>
    </p-accordionTab>
  </p-accordion>

  <h1>REGULAMENTO DO SISTEMA AVALIATIVO PLURI</h1>
  <h2>INSTITUTO FEDERAL DO TRIÂNGULO MINEIRO - IFTM CAMPUS PATROCÍNIO</h2>

  <p-accordion [multiple]="true">
    <p-accordionTab header="CAPÍTULO I - Das Disposições Preliminares">
      <p>
        Art. 1°. O presente Regulamento orienta a organização, composição,
        atribuições e funcionamento do sistema avaliativo PLURI -
        Pluridisciplinar e tem os seguintes objetivos:
      </p>
      <ul>
        <li>
          Propiciar a integração entre formação geral e formação profissional;
        </li>
        <li>Possibilitar uma formação interdisciplinar e contextualizada;</li>
        <li>
          Estabelecer o diálogo entre os conteúdos das diversas unidades
          curriculares, rompendo, gradativamente, com o ensino fragmentado.
        </li>
      </ul>
    </p-accordionTab>
    <p-accordionTab header="CAPÍTULO II - Do Sistema Avaliativo PLURI">
      <p>
        Art. 2°. O sistema avaliativo PLURI se constitui em uma atividade
        avaliativa integrada, trimestral e interdisciplinar, com o objetivo de
        preparar os estudantes para os processos seletivos externos ao IFTM, em
        especial, o ENEM.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="CAPÍTULO III - Da composição e do mandato da Comissão"
    >
      <p>Art. 3°. A comissão do sistema avaliativo PLURI será constituída de:</p>
      <ul>
        <li>
          Pelo menos 1 (um) representante docente titular de cada área técnica dos cursos
          Técnicos integrados ao ensino médio existente no IFTM -- Campus Patrocínio.
        </li>
        <li>
          Pelo menos 4 (quatro) representantes docentes titulares da BNCC - Base Nacional
          Comum Curricular, sendo: 1 (um) titular da área de Linguagens, 1 (um) titular da
          área de Matemática, 1 (um) titular da área da Ciências Humanas, 1 (um) titular da
          área de Ciências da Natureza.
        </li>
        <li>
          Pelo menos 1 (um) representante do setor pedagógico.
        </li>
        <li>
          Pelo menos 1 (um) representante do CAPNE.
        </li>
        <li>
          Pelo menos 1 (um) representante do setor de Tecnologia da Informação.
        </li>
      </ul>
      <p>
        Parágrafo único: Em momento específicos a comissão pode convidar para a
        participação nas reuniões ordinárias e extraordinárias representações
        discentes assim como as coordenações de curso.
      </p>
      <p>
        § 1°. Os membros da Comissão terão um mandato de 01 (um) ano, podendo
        haver recondução.
      </p>
      <p>
        § 2°. Os membros da Comissão do sistema avaliativo PLURI que forem
        desligados dos cursos deverão ser substituídos para garantir a
        quantidade mínima de membros conforme artigo 3º.
      </p>
      <p>
        § 3°. O presidente da Comissão do sistema avaliativo PLURI deverá
        ser eleito entre os membros que compõem a comissão do sistema avaliativo
        PLURI.
      </p>
      <p>
        § 4°. A comissão do sistema avaliativo PLURI estará diretamente ligada à
        direção-geral do campus, devendo ser a mesma oficializada por meio de
        portaria específica, logo compete à CGEPE -- Coordenação Geral de Ensino
        Pesquisa e Extensão ajudar no processo de composição e recomposição da
        comissão do sistema avaliativo PLURI, conforme os termos deste
        regulamento.
      </p>
    </p-accordionTab>
    <p-accordionTab header="CAPÍTULO V - Das Atribuições da Comissão">
      <p>Art. 4°. São atribuições da comissão do sistema avaliativo PLURI:</p>
      <ul>
        <li>
          Estabelecer e divulgar o calendário anual das ações relacionadas
          implementação do sistema avaliativo PLURI;
        </li>
        <li>
          Orientar docentes, administrativos e discentes, sobretudo os
          ingressantes, sobre as características e a importância do sistema
          avaliativo PLURI em especial as estabelecidas no capítulo II.
        </li>
        <li>Organizar a aplicação do sistema avaliativo PLURI;</li>
      </ul>
      <p>Art. 5°. São atribuições do presidente da Comissão do sistema avaliativo PLURI:</p>
      <ul>
        <li>
          Convocar e presidir as reuniões e demais atividades da Comissão;
        </li>
        <li>Representar a comissão junto aos demais órgãos da instituição;</li>
        <li>
          Distribuir os trabalhos e propor a ordem destes durante as reuniões,
          coordenando os debates, discussões e votações, bem com a apuração dos votos
          e proclamação dos resultados;
        </li>
        <li>
          Coordenar a distribuição dos fiscais de prova na data da aplicação;
        </li>
        <li>
          Receber, organizar e consolidar todas as questões enviadas ao sistema
          avaliativo PLURI pelos representantes das áreas, a fim de encaminhá-las para
          a diagramação e impressão.
        </li>
        <li>Fiscalizar a realização do sistema avaliativo PLURI.</li>
        <li>
          Receber dos fiscais de sala as provas finalizadas e encaminhá-las para
          a correção.
        </li>
        <li>
          Cadastrar o sistema avaliativo PLURI como projeto de ensino junto
          à CGEPE conforme calendário divulgado.
        </li>
      </ul>
      <p>Art. 6°. São atribuições dos membros da comissão:</p>
      <ul>
        <li>Colaborar com o presidente no desempenho de suas atribuições;</li>
        <li>Comparecer às reuniões ou informar eventual impedimento;</li>
        <li>Apreciar, aprovar e assinar ata de reunião;</li>
        <li>Participar das subcomissões do sistema avaliativo PLURI, quando necessário;</li>
        <li>
          Entrar em contato com o CAPNE - Coordenação de apoio ao portador de
          necessidades especiais para identificar alunos que necessitam de
          atendimento especial.
        </li>
      </ul>
    </p-accordionTab>
    <p-accordionTab header="CAPÍTULO VI - Da operacionalização do sistema avaliativo PLURI">
      <p>
        Art. 8°. A comissão do sistema avaliativo PLURI reunir-se-á pelo
        menos uma vez por trimestre, ordinariamente, durante período letivo, e
        extraordinariamente por convocação de iniciativa do seu Presidente ou
        por requerimento de seus membros.
      </p>
      <p>
        § 1°. Para as reuniões ordinárias, previstas em cronograma, o Presidente
        da Comissão do sistema avaliativo PLURI encaminhará convocação aos membros
        acompanhada de pauta e documentos com pelo menos 48 (quarenta e oito) horas
        de antecedência.
      </p>
      <p>
        § 2°. As reuniões extraordinárias serão convocadas com antecedência
        mínima de 24 (vinte e quatro) horas, constando a pauta e envio de
        documentos.
      </p>
      <p>
        § 3°. As reuniões serão secretariadas por um membro da comissão indicado
        pelo presidente, a cada sessão.
      </p>
      <p>
        Art. 9°. É obrigatório o comparecimento dos membros às reuniões da
        Comissão do sistema avaliativo PLURI, vedada qualquer forma de
        representação.
      </p>
      <p>
        Parágrafo único: A ausência de membro a 2 (duas) reuniões
        consecutivas, acarretará a perda do mandato, salvo justificativa escrita
        e aceita pela comissão do sistema avaliativo PLURI.
      </p>
      <p>
        Art. 10. Os trabalhos de cada reunião da comissão do sistema avaliativo
        PLURI devem, obrigatoriamente, ser registrados em ata.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="CAPÍTULO VII - Das disposições finais e transitórias"
    >
      <p>
        Art. 11. Alterações neste regulamento só terão validade quando aprovadas
        pela comissão.
      </p>
      <p>
        Art. 12. Os casos omissos neste Regulamento serão apreciados e julgados
        pela comissão.
      </p>
      <p>
        Art. 13. O formato da prova seguirá o anexo 1 deste regulamento
        devendo o mesmo ser aprovado de forma anual pelos membros da comissão.
      </p>
      <p>
        Art. 14. Por se tratar de uma atividade avaliativa de conteúdos
        integrados, esta avaliação será pontuada em todas as disciplinas do
        ensino médio.
      </p>
      <p>
        Art. 15. A prova de segunda chamada do sistema avaliativo PLURI poderá
        ser realizada utilizando o banco de questões do sistema avaliativo PLURI
        e será realizada de forma presencial e virtual (em software específico)
        acompanhada por fiscais do processo.
      </p>
      <p>
        Parágrafo único: Somente será realizada a aplicação da prova de segunda
        chamada aos discentes que protocolarem a justificativa de falta
        adequadamente, conforme regulamento da instituição, sendo a mesma
        deferida pelo respectivo coordenador de curso.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Estrutura da Prova">
      <p>
        Cada turma dos cursos Técnicos Integrados ao ensino médio terá uma prova
        constituída de 40 questões, com os conteúdos correspondentes ao período
        letivo relativo de aplicação do sistema avaliativo PLURI e distribuídos
        nesta ordem:
      </p>
      <ul>
        <li>1 prova de redação</li>
        <li>7 questões da área Técnica de cada curso</li>
        <li>7 questões da área de Linguagens, Códigos e suas Tecnologias</li>
        <li>7 questões da área de Matemática e suas Tecnologias</li>
        <li>7 questões da área de Ciências Humanas e suas Tecnologias</li>
        <li>7 questões da área de Ciências da Natureza e suas Tecnologias</li>
        <li>5 questões da área de Atualidades</li>
      </ul>

      <h3>Conteúdo das áreas de conhecimento</h3>
      <p><strong>Linguagens, Códigos e suas Tecnologias</strong>: Português, Literatura,
        Língua Estrangeira, Artes, Educação Física.</p>
      <p><strong>Ciências Humanas</strong>: História, Geografia, Filosofia e Sociologia</p>
      <p><strong>Ciências da Natureza</strong>: Biologia, Química e Física</p>
      <p><strong>Técnicas de cada curso</strong>: Administração, Contabilidade, Eletrônica e
        Informática.</p>

      <p>
        Pelo menos 70% da prova do sistema avaliativo PLURI deve conter questões
        inéditas, desenvolvidas pelo quadro de docentes de cada curso Técnico. A
        atividade avaliativa PLURI será formatada em duas colunas, com cada
        questão da prova contendo 4 alternativas, sendo somente 1 alternativa
        considerada correta. O tipo e tamanho da fonte, espaçamento entre
        linhas, tabulações assim como outras características de formatação
        seguem um padrão pré-estabelecido podendo ser alterado em reunião da
        comissão conforme sugestões apresentadas pela comunidade acadêmica do
        IFTM - Campus Patrocínio. Logo, em nenhuma fase de elaboração da questão
        o docente precisa se preocupar com padrões de formatação a serem
        aplicados. Exceto com negrito, itálico ou sublinhado caso o responsável
        pela questão queira enfatizar algum elemento da questão.
      </p>
    </p-accordionTab>
  </p-accordion>
</div>
