<app-header />
<div class="content">
  <h1>REGULAMENTO DO PLURI</h1>
  <h2>INSTITUTO FEDERAL DO TRIÂNGULO MINEIRO - CAMPUS PATROCÍNIO</h2>

  <p-accordion [multiple]="true" [activeIndex]="[0, 1, 2, 3, 4, 5, 6]">
    <p-accordionTab header="CAPÍTULO I - Das Disposições Preliminares">
      <p>
        Art. 1°. O presente Regulamento orienta a organização, composição,
        atribuições e funcionamento PLURI e tem os seguintes objetivos:
      </p>
      <ul>
        <li>
          Propiciar a integração entre formação geral e formação profissional;
        </li>
        <li>Possibilitar uma formação interdisciplinar e contextualizada;</li>
        <li>
          Estabelecer o diálogo entre os conteúdos das diversas unidades
          curriculares, rompendo, gradativamente, com o ensino fragmentado.
        </li>
      </ul>
    </p-accordionTab>
    <p-accordionTab header="CAPÍTULO II - Do PLURI">
      <p>
        Art. 2°. O PLURI se constitui em uma atividade avaliativa integrada e,
        minimamente, interdisciplinar.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="CAPÍTULO III - Da composição e do mandato da Comissão"
    >
      <p>Art. 3°. A comissão do PLURI será constituída de:</p>
      <ul>
        <li>Coordenador de cada curso técnico integrado ao ensino media;</li>
        <li>
          1 (um) representante docente titular e 1 (um) suplente da área técnica
          de cada curso.
        </li>
        <li>
          4 (quatro) representantes docentes titulares da BNCC e 4 (quatro)
          suplentes, sendo: 1 (um) titular e 1 (um) suplente da área de
          Linguagens, 1 (um) titular e 1 (um) suplente da área de Matemática, 1
          (um) titular e 1 (um) suplente da área da Ciências Humanas, 1 (um)
          titular e 1 (um) suplente da área de Ciências da Natureza.
        </li>
        <li>
          3 (três) representantes titulares e 3 (três) representantes suplentes
          dos técnico-administrativos, sendo: 1 (um) pedagogo titular e 1 (um)
          suplente, 1 (um) técnico em assuntos educacionais titular e 1 (um)
          suplente, 1 (um) técnico de TI titular e 1 (um) suplente;
        </li>
        <li>
          1 (um) representante discente titular e 1 (um) suplente de cada curso;
        </li>
      </ul>
      <p>
        § 1°. Os representantes docentes da área técnica serão indicados pelos
        colegiados dos respectivos cursos.
      </p>
      <p>
        § 2°. Os representantes docentes das subáreas da BNCC serão indicados
        pelos membros da própria.
      </p>
      <p>
        § 3°. Os representantes técnico-administrativos serão indicados pelos
        seus pares.
      </p>
      <p>
        § 4°. Os representantes discentes serão indicados pelo Grêmio
        Estudantil.
      </p>
      <p>
        § 5°. Os membros da Comissão terão um mandato de 01(um) ano, podendo
        haver recondução.
      </p>
      <p>
        § 6°. Os membros da Comissão do PLURI que forem desligados dos cursos
        deverão ser substituídos pelos suplentes.
      </p>
      <p>
        § 7°. O presidente da Comissão do PLURI deverá ser docente e será eleito
        pelo conjunto dos docentes de todos os cursos técnicos integrados ao
        ensino médio do Instituto, e não acumulará outras funções dentro da
        Comissão.
      </p>
    </p-accordionTab>
    <p-accordionTab header="CAPÍTULO V - Das Atribuições da Comissão">
      <p>Art. 4°. São atribuições da comissão do PLURI:</p>
      <ul>
        <li>
          Estabelecer e divulgar o calendário anual das ações relacionadas
          implementação do PLURI;
        </li>
        <li>
          Orientar, sobretudo os discentes ingressantes, sobre o caráter e a
          importância do PLURI;
        </li>
        <li>Organizar a aplicação do PLURI;</li>
      </ul>
      <p>Art. 5°. São atribuições do presidente da Comissão do PLURI:</p>
      <ul>
        <li>
          Convocar e presidir as reuniões e demais atividades da Comissão;
        </li>
        <li>Representar a comissão junto aos demais órgãos da instituição;</li>
        <li>
          Distribuir os trabalhos e propor a ordem destes durante as reuniões,
          coordenando os debates, discussões e votações, bem como apuração dos
          votos e proclamação dos resultados;
        </li>
        <li>
          Coordenar a distribuição dos fiscais de prova na data da aplicação;
        </li>
        <li>
          Receber, organizar e consolidar todas as questões enviadas ao PLURI
          pelos representantes das áreas, a fim de encaminhá-las para a
          diagramação e impressão.
        </li>
        <li>Fiscalizar a realização do PLURI.</li>
        <li>
          Receber dos fiscais de sala as provas finalizadas e encaminhá-las para
          a correção.
        </li>
      </ul>
      <p>Art. 6°. São atribuições dos membros da comissão:</p>
      <ul>
        <li>Colaborar com o presidente no desempenho de suas atribuições;</li>
        <li>Comparecer às reuniões ou informar eventual impedimento;</li>
        <li>Apreciar, aprovar e assinar ata de reunião;</li>
        <li>Participar das subcomissões do PLURI, quando necessário;</li>
      </ul>
    </p-accordionTab>
    <p-accordionTab header="CAPÍTULO VI - Da operacionalização do PLURI">
      <p>
        Art. 8°. A comissão do PLURI reunir-se-á uma vez por mês,
        ordinariamente, durante período letivo, e extraordinariamente por
        convocação de iniciativa do seu Presidente ou por requerimento de seus
        membros.
      </p>
      <p>
        § 1°. Para as reuniões ordinárias, previstas em cronograma, o Presidente
        da Comissão do PLURI encaminhará convocação aos membros acompanhada de
        pauta e documentos com pelo menos 48 (quarenta e oito) horas de
        antecedência.
      </p>
      <p>
        § 2°. As reuniões extraordinárias serão convocadas com antecedência
        mínima de 24 (vinte e quatro) horas, constando a pauta e envio de
        documentos.
      </p>
      <p>
        § 3°. As reuniões serão secretariadas por um membro da comissão indicado
        pelo presidente, a cada sessão.
      </p>
      <p>
        Art. 9°. É obrigatório o comparecimento dos membros às reuniões da
        Comissão do PLURI, vedada qualquer forma de representação.
      </p>
      <p>
        Parágrafo único. A ausência de membro a 2 (duas) reuniões consecutivas
        ou a 4 (quatro) alternadas no mesmo ano letivo, acarretará a perda do
        mandato, salvo justificativa escrita e aceita pela comissão do PLURI.
      </p>
      <p>
        Art. 10. Os trabalhos de cada reunião da comissão do PLURI devem,
        obrigatoriamente, ser registrados em ata.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="CAPÍTULO VII - Das disposições finais e transitórias"
    >
      <p>
        Art. 11. Alterações neste regulamento só terão validade quando aprovadas
        pela comissão.
      </p>
      <p>
        Art. 12. Os casos omissos neste Regulamento serão apreciados e julgados
        pela comissão.
      </p>
    </p-accordionTab>
  </p-accordion>

  <h1>TUTORIAIS DO PLURI</h1>
  <p-accordion>
    <p-accordionTab header="Tutoriais">
      <p-tabView>
        <p-tabPanel header="Alunos">
          <p>LINKS</p>
        </p-tabPanel>
        <p-tabPanel header="Professores">
          <p>LINKS</p>
        </p-tabPanel>
        <p-tabPanel header="Comissão">
          <p>LINKS</p>
        </p-tabPanel>
      </p-tabView>
    </p-accordionTab>
  </p-accordion>
</div>
