<script src="edit-disciplina.component.ts"></script>
<div class="container">
  <p-fieldset legend="Criar Disciplina">
    <form class="form-container" [formGroup]="updateDisciplinaForm">
      <div class="name-element">
        <label for="nome">Nome</label>
        <input style="width: 600px;" id="nome" type="text" pInputText formControlName="nome"/>
      </div>

      <div class="desc-element">
        <label for="area">Area</label>
        <p-dropdown
          id="area"
          [options]="areaList"
          optionLabel="nome"
          (onChange)="onAreaChange($event)"
          formControlName="area"
        >
        </p-dropdown>
      </div>
      <div class="submit-button">
        <p-button label="Salvar" (click)="submit()"/>
      </div>
    </form>
  </p-fieldset>
</div>
