@import "../../../../styles/variables.scss";

.container {
    margin: 15px;

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name-element label{
            display: flex;
            font-weight: bold;
        }

        .desc-element label{
            display: flex;
            font-weight: bold;
        }

        .name-element input,
        .desc-element input {
          width: 100%;
          max-width: 600px;
          box-sizing: border-box;
        }

        .codigo-element label{
            display: flex;
            font-weight: bold;
        }

        .submit-button{
            margin-left: auto;
        }
    }
}
